@charset "UTF-8";

body#cpts .grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body#cpts .pave {
  padding: 20px;
  text-align: center;
  font-size: 16px;
  border: solid rgb(209, 208, 221) 5px;
  border-radius: 10px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 10px;
  background-color: white;
}
body#cpts .competences {
  background-color: rgb(88, 92, 91);
  grid-template-columns: 1fr;
  border-radius: 0px;
  margin: 0px;
  background-color: burlywood;
  display: flex;
  flex-direction: column;
}
body#cpts .titlecompetences p {
  background: red;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #321656;
}
body#cpts .title {
  text-decoration: underline;
  font-size: 25px;
  display: grid;
  grid-template-columns: 1fr;
  padding: 38px;
  justify-items: center;
}
body#cpts p.title {
  color: black;
}
@media screen and (min-width: 1024px) {
  body#cpts .pave {
    background-color: white;
  }
  body#cpts .grid-container {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
    border-radius: none;
    justify-items: center;
  }
  body#cpts .title {
    font-weight: bold;
    justify-content: center;
    padding-top: 100px;
    display: flex;
    font-size: 40px;
  }
}