footer {
  grid-area: footer;
  background-color: #321656;
  color: white;
  padding: 1rem;
  font-size: 12px;
}
#footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
form {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  footer {
    font-size: initial;
  }
}
